* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f9fafb;
}

#section-note-form {
  min-height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#section-user-notes {
  padding: 24px 3rem;
  max-width: 1300px;
  margin: 0 auto;
}

#section-user-notes h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 24px;
}

.toggle-notes {
  margin-bottom: 40px;
  display: flex;
  justify-content: flex-end;
  padding-right: 24px;
}

#toggle-archive-notes,
#toggle-unarchive-notes {
  border: 1px solid black;
  padding: 8px 16px;
  background-color: #e5e7eb;
  color: #111827;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

#toggle-archive-notes:hover,
#toggle-unarchive-notes:hover {
  background-color: #c8cbd0;
  cursor: pointer;
}

#toggle-archive-notes.active,
#toggle-unarchive-notes.active {
  background-color: #55575a;
  color: white;
}

#toggle-unarchive-notes {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

#toggle-archive-notes {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.cards-note-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1300px;
  gap: 3rem;
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  .cards-note-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  .toggle-notes {
    justify-content: center;
    padding-right: 0;
  }
}
